* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ff707080;
  --secondary-color: #FFF;
  --success-color: #adffbb;
  --hover-color: #ff7070;
  --shadow-color: #AAAAAA;
}
/* main */
#App {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  #App {
    max-width: 80vw;
  }
}
/* canvas chart */
@media (min-width: 320px) {
  .chart-wrapper {
    width: 100vw;
    height: 100vw;
  }
}
@media (min-width: 768px) {
  .chart-wrapper {
    width: 100%;
    height: 40vh;
    min-height: 20vw;
  }
}
/* form */
.form-wrapper {
  display: none;
}
form>div:nth-last-child(1) {
  display: flex;
  flex-flow: wrap;
  /* grid-template-columns: 1fr repeat(2, 2.5rem); */
}
.options {
  position: relative;
  z-index: 5;
}
@media (min-width: 320px) {
  .options>input {
    position: fixed;
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .options>input {
    position: absolute;
    right: 0;
    bottom: -2.3rem;
  }
}
.billform,
.filters,
/* rows */
.row {
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  /* display: flex; */
  display: grid;
  border-bottom: 1px solid var(--primary-color);
  grid-template-columns: repeat(4, 1fr);
}
.row:nth-of-type(odd) {
  background: var(--secondary-color);
}
.row:nth-of-type(even) {
  background-color: var(--primary-color);
}
.row:hover {
  border-bottom: 1px solid var(--hover-color);
  background-color: var(--hover-color);
}
/* select */
.select {
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px dashed var(--primary-color);
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  /* font-size: 16px; */
}
.select:hover {
  border-top: 1px dashed var(--primary-color);
}
/* date-picker */
.date-picker {
  position: relative;
}
.date-picker-panel {
  position: absolute;
  top: 1.5rem;
  z-index: 100;
  background-color: #FFF;
  /* opacity: 0.8; */
  text-align: center;
  user-select: none;
  display: none;
  width: calc(14rem + 2px);
  height: calc(14rem + 2px);
  box-shadow: 0 10px 10px 0 var(--shadow-color);
}
input[type=button] {
  cursor: pointer;
}
input[type=number],
.date-picker-input {
  max-width: 5rem;
  /* outline: 0; */
  /* border: 1px dashed var(--primary-color); */
  /* transition: border 0.5s ease; */
}
.date-picker-header {
  border-bottom: inherit;
  font-weight: 500;
  height: 2rem;
  line-height: 2rem;
  display: flex;
}
.date-picker-year-button,
.date-picker-month-button ,
.date-picker-body span[class^=date-picker-] {
  cursor: pointer;
}
.date-picker-year-button:hover,
.date-picker-month-button:hover {
  color: var(--hover-color);
}
.date-picker-body-pick-year,
.date-picker-body-pick-month {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.date-picker-body-pick-day {
  display: flex;
  flex-flow: row wrap;
}
.date-picker-year,
.date-picker-month {
  width: 4rem;
  height: 3rem;
  line-height: 3rem;
}
.date-picker-body-pick-day>span {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.date-picker-year:hover,
.date-picker-month:hover,
.date-picker-day:hover {
  background-color: var(--hover-color);
}
.date-picker-this-year,
.date-picker-this-month,
.date-picker-today {
  position: relative;
}
.date-picker-this-year:before,
.date-picker-this-month:before,
.date-picker-today:before {
  content: '';
  border: 1px solid var(--primary-color);
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.date-picker-year-selected,
.date-picker-month-selected,
.date-picker-day-selected {
  background-color: var(--primary-color);
}
/* modal */
.modal-vail {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.modal-dialog {
  margin: 0 auto;
  background-color: #FFF;
  animation: animatetop 0.4s;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}
@keyframes animatetop {
  0% {
    top: -300px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}
/* buttons */
.btn-xs,
.btn-sm,
.btn,
.btn-md,
.btn-lg {
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: #FFF;
  transition: background-color 0.2s ease-out;
}
.btn {
  padding: .4rem .4rem;
}
.btn-xs:hover,
.btn:hover {
  background-color: var(--hover-color);
}
.btn-primary {
  border: 1px solid var(--primary-color);
}
.btn-primary:hover {
  background-color: var(--primary-color);
}
.btn-success {
  border: 1px solid var(--success-color);
}
.btn-success:hover {
  background-color: var(--success-color);
}
/* close button */
.btn-close:hover {
  color: var(--primary-color);
}
button.close {
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  background-color: transparent;
}
/* utils */
.show {
  display: block;
}
.hide {
  display: none;
}
.fade {
  transition: opacity .15s linear;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.flex-g1 {
  flex-grow: 1;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.m-3 {
  margin: 3rem;
}
.ml-3 {
  margin-left: 3rem;
}